.places {
  padding: 92px 148px;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1030px) {
  .places {
    padding: 92px 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 780px) {
  .places {
    padding: 88px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    padding: 64px 0;
    max-width: minmax(320px, 600px);
  }
}