@import url(./__tittle/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  margin: 0 auto;
  padding: 0 148px;
  max-width: 984px;
}

@media screen and (max-width: 1030px) {
  .lead {
    padding: 0 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 780px) {
  .lead {
    padding: 0;
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding: 0;
    max-width: minmax(320px, 425px);
  }
}