.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    text-align: right;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    padding-top: 48px;
    text-align: left;
  }
}