@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__span-accent/intro__span-accent.css);
@import url(./__list-achievement/intro__list-achievement.css);

.intro {
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 148px;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 1030px) {
  .intro {
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 48px;
    margin-left: 0;
  }
}

@media screen and (max-width: 780px) {
  .intro {
    padding: 88px 24px 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 16px 64px 16px;
    max-width: minmax(320px, 425px);
  }
}