@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);

.cover {
  margin: 0 48px;
  min-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
}

@media (max-width: 1279px) {
  .cover {
    margin: 0;
    min-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover {
    min-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
  }
}