.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: left;
  text-decoration: underline;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.place__link:hover {
  opacity: .8;
}