.place__paragraph-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  margin: 0 0 24px;
  padding: 0;
}

.place__paragraph-text:last-of-type {
  margin: 0;
}

@media screen and (max-width: 780px) {
  .place__paragraph-text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 600px) {
  .place__paragraph-text {
    margin: 0 16px 24px;
  }
  .place__paragraph-text:last-of-type {
    margin: 0 16px;
  }
}